<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created</title>
    <style>
        body {
            background-color: #222;
            color: #ddd;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
        }
        p {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Account Created Successfully</h1>
    <p>Your account has been created successfully. You will be redirected in 5 seconds.</p>

    <script>
        setTimeout(function() {
            window.location.href = "https://kulikteam.com/";
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
</body>
</html>
