<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        // Added condition to disable auto-logout.
        var condition = false; // or true

        // If condition is true, load the script
        if (condition) {
            var script = document.createElement('script');
            script.src = './data/js/autologout.js';
            document.head.appendChild(script);
        }
    </script>
    <title>Pet Tracker</title>
    <link rel="stylesheet" type="text/css" href="data/css/main.css">
</head>
<body>
    {% include 'navbar/navbar.html' %}

    <div class="container-wrapper">
        <div class="left-containers">
            <div class="container">
                <h2>PeTracker</h2>
                <p>This is content for container 1.</p>
            </div>
            <div class="container">
                <h2>Our Mission</h2>
                <p>This is content for container 2.</p>
            </div>
        </div>
        <div class="right-container">
            <h2>Contact</h2>
            <p>Contact Email: <a href="mailto:contact@modbros.uk">contact@modbros.uk</a></p>
            <p>Admin Email: <a href="mailto:admin@modbros.uk">admin@modbros.uk</a></p>
            <p>Website: <a href="https://modbros.uk/">modbros.uk</a></p>
       </div>
    </div>
</body>
</html>
